.hidd {
  opacity: 0;
  filter: blur(15px);
  transition: all 1s;
  transform: translateY(100%);
}

.show {
  opacity: 1;
  transition: all 1s;
  filter: blur(0px);
  transform: translate(0);
}

.show-projects {
  opacity: 20%;
  transition: all 2s;
  filter: blur(1px);
  transform: translate(0);
}

.hidd-projects {
  opacity: 0;
  filter: blur(15px);
  transform: translate(-100%);
}

/* Arquivo styles/footer.css */

.page-enter {
    opacity: 0;
  }
  
  .page-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }
  
  .page-exit {
    opacity: 1;
  }
  
  .page-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
  