.container-projects {
    background: #101010;
    background-image: linear-gradient(to bottom, #000 50%, transparent 100%);
    text-align: center;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 30vh;
    flex-direction: column;
}

.boxes:last-child {
    margin-top: 120px;
}

.backend-content {
    background-image: linear-gradient(to top, #101010 40%, transparent 100%);
    border-bottom: 2px solid #181818;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 200;
    padding: 0 0vw 4vw;
    border-right: 2px;
    border-left: 0;
    border-style: solid;
    -o-border-image: linear-gradient(to bottom, #181818, #eee, #181818) 1 100%;
    border-image: linear-gradient(to bottom, #181818, #eee, #181818) 1 100%;
}

.box .icon {
    font-size: 4em;
    color: #555;
    margin-bottom: .6em;
}

icon {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
}

.box h2 {
    font-size: 1.3em;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 200;
    line-height: 1em;
    color: #f2f2f2;
}

.box .piece-count {
    font-style: italic;
    color: #9f9f9f;
    margin-bottom: 1.2em;
    letter-spacing: 1px;
    font-family: Lora, serif;
}

.button-icon {
    display: flex;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
  }
  
  .icon-project  {
    background-color: #fff;
    padding: 10px 10px 5px 10px;
  }
  
  .icon-project  svg {
    width: 25px;
    height: 25px;
  }
  
  .cube {
    transition: all 0.4s;
    transform-style: preserve-3d;
    width: 150px;
    height: 20px;
}
  
  .button-icon:hover {
    border-color: #620101;
  }
  
  .button-icon:hover .cube {
    transform: rotateX(91deg);
  }
  
  .side {
    position: absolute;
    height: 43px;
    width: 150px;
    display: flex;
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
  }
  
  .top {
    background: #620101;
    color: #fff;
    transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
  }
  
  .front {
    background: #222229;
    color: #fff;
    transform: translate3d(0, 0, 1em);
  }

@media screen and (max-width: 768px) {
   .cube, .side {
    width: 120px;
   }
}