@media (min-width: 1024px) {
    .lg\:h-\[50vh\] {
        height: 50vh;
    }
}

.contact-me-image {
    background-image: url(../assets/mapa-ba83185c.jpg);
    position: absolute;
    width: 100%;
    background-position: center;
    background-size: contain;
    opacity: 6%;
}

.border-contact {
    border-bottom: 2px solid #d8d8d8;
    color: #fff;
}