.footer-container {
    background: #101010;
    position: relative;
    bottom: 0;
}

.powered-by {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid rgb(27, 27, 37);
    justify-content: center;
    padding: 3em;
}

.powered-by > h1 {
    width: 43%;
    font-size: 23px;
    font-family: Quicksand, sans-serif;
    color: #fff;
}

.powered-by >h1 >p {
    margin-left: 20px;
}

.powered-by>ul {
    width: 57%;
    font-size: 20px;
    color: #fff;
    display: flex;
    list-style: none;
}

.powered-by > ul > li {
    margin-right: 20px;
    padding-top: 10px;
}

.powered-by > ul > li > button {
    text-decoration: none;
    font-weight: 100;
    transition: .5s;
    font-size: 20px;
    color: #fff;
    background-color: inherit;
    border: none;
    font-weight: 700;
    font-family: Anton, sans-serif;
}

.contact-me {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 3em;
}

.contact-me>p:nth-child(1) {
    color: #fff;
    font-size: 10px;
    width: 15%;
}

.contact-me>ul {
    display: flex;
    list-style: none;
    width: 12%;
}

.contact-me>p:nth-child(3) {
    color: #fff;
    font-size: 12px;
    width: 17%;
}

